#
# cron.d/netflix-proxy -- schedules periodic updates for DDNs IPs for the netflix proxy
#
# Copyright © Patrice Brend'amour <patrice@brendamour.net>
# distributed under the terms of the Artistic Licence 2.0
#

* * * * * root {{BUILD_ROOT}}/scripts/ddns_updater.sh
* * * * * root {{BUILD_ROOT}}/scripts/flush.sh
